<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <div id="container">
    <strong>Inicio Sesion</strong>


    <ion-list>
      <ion-item>
        <ion-textarea label="Nombre Usuario" placeholder=""></ion-textarea>
      </ion-item>


      <ion-item>
        <ion-textarea label="Contraseña" placeholder=""></ion-textarea>
      </ion-item>
     
      <ion-button [routerLink]="['/pagina1']">
        Loguearse
      </ion-button>
     
    </ion-list>
 
  </div>


</ion-content>


