<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot ="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>


    <ion-title>pagina1</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Página 1</ion-title>
    </ion-toolbar>
  </ion-header>




  <div id="container">
    <br>
    <strong>Perfil</strong>


    <ion-list>
      <ion-list>
        <ion-item>
          <ion-input label="Nombre" placeholder="xxxxxx"></ion-input>
        </ion-item>
   
        <ion-item>
          <ion-input label="Apellido" placeholder="xxxxxx"></ion-input>
        </ion-item>
   
        <ion-item>
          <ion-input label="Rut"  placeholder="00.000.000-0"></ion-input>
        </ion-item>
      </ion-list>




      <ion-button [routerLink]="['/home']">Cerrar</ion-button>
      <ion-button [routerLink]="['/pagina2']">Pagina 2</ion-button>


    </ion-list>
 
  </div>
 


</ion-content>


